<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta lang="ja">
    <!-- <link rel="stylesheet" type="text/css" href="css/common.css"> -->
    <link rel="stylesheet/less" type="text/css" href="css/common.less">
    <!-- <link rel="stylesheet/less" type="text/css" href="css/testLess.less"> -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootflat/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"> -->
    <!-- <script type="text/javascript" src="js/js-static/underscore.js"></script> -->
    <!-- <script type="text/javascript" src="js/js-static/jquery-1.11.2.min.js"></script> -->
    <!-- <script type="text/javascript" src="js/js-static/handlebars-v3.0.0.js"></script> -->
    <!-- <script type="text/javascript" src="js/js-static/backbone-min.js"></script> -->
    <script type="text/javascript" src="bower_components/less/dist/less.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/common.util.js"></script>
    <title>Portfolio by Satoru Tanaka</title>
</head>

<body>
<!-- container -->
<div id="container">
<header>
    <h1>Portfolio by Satoru Tanaka</h1>
</header>

<section id="main-contents">
    <nav>
        <ul>
            <li class="current aaa bbb ccc"><a href="javascript: void(0);" data-nav-id="profile">Profile</a></li>
            <li class=""><a href="" data-nav-id="skill">skill</a></li>
            <li class=""><a href="" data-nav-id="blog">Blog</a></li>
            <li class=""><a href="" data-nav-id="output">Output</a></li>
            <li class=""><a href="" data-nav-id="contact">Contact</a></li>
        </ul>
    </nav>

    <div class="dummy-box_1"></div>

    <article>
        <div id="profile">
            <div class="profile_box top_article-contents">
                <%- include('tmp/profile/elements.ejs') %>
            </div>
            <!--
            <div class="profile_plan-the-year none">
                <h3><span class="js-toYear"></span>年の抱負</h3>
                <ul>
                    <li>
                        <dl>
                            <dt>学び</dt>
                            <dd>様々なプロダクトに関わり、創造活動に必要な知見を蓄えます</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>活動</dt>
                            <dd>知見を蓄えるだけでは身につかないので、アウトプットしていきます</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>貢献</dt>
                            <dd>道を示してくれている会社に恩返しします</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            -->
        </div>
        <span class="paging" style="bottom: 5px;left: 0;right: 0;">
            <i class="switch-prev fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
            <i class="fa fa-circle point" aria-hidden="true"></i>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <i class="switch-next fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
        </span>
        <div id="skill">
            <div class="top_article-contents">
                <ul>
                    <%
                    /* 1: 26px, 2: 52px, 3: 78px, 4: 104px, 5: 130px */
                    var skillList = {
                        data: [
                        {skill: 'HTML5', circleWidth: '130'},
                        {skill: 'CSS3', circleWidth:'130'},
                        {skill: 'JavaScript', circleWidth: '104'},
                        {skill: 'Node.js', circleWidth: '78'},
                        {skill: 'Gulp', circleWidth: '78'},
                        {skill: 'LESS', circleWidth: '78'}
                        ]
                    }
                    skillList.data.forEach(function (list, index) {
                    %>
                    <li><%= list.skill %>
                        <%
                            if (list.circleWidth) {
                        %>
                        <style>
                        #skill ul li:nth-child(<%= index + 1 %>)::after {
                            width: <%= list.circleWidth %>px;
                        }
                        </style>
                        <% } %>
                    </li>
                    <% }); %>
                </ul>
                <p>Other : Handlebars, EJS, Backbone.js, ...etc</p>
            </div>
        </div>
        <div id="blog">
            <div class="top_article-contents">
                <h2>ブログ、準備中</h2>
                <!-- <img src="img/circle3.png" style="width: auto;"> -->
            </div>
        </div>
        <div id="output">
            <div class="top_article-contents">
                <h2>アウトプット、準備中</h2>
            </div>
        </div>
        <div id="contact">
            <div class="top_article-contents">
                <!-- <h2>ご覧いただきありがとうございます。なんでもお気軽にご連絡くださいませ。</h2> -->
                <h2>Thank you for visiting my site<br>Please feel free to ask and follow me</h2>
                <address>
                    <dl>
                        <dt><i class="fa fa-home fa-2x" aria-hidden="true"></i></dt>
                        <dd>Tokyo Japan</dd>
                    </dl>
                    <dl>
                        <dt><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></dt>
                        <dd>sato252011@gmail.com</dd>
                    </dl>
                </address>
                <ul>
                    <%
                    var contactList = {
                        data: [
                        {ele: '<i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i>', link: 'https://www.facebook.com/satoru.tanaka.9480'},
                        {ele: '<i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>', link: 'https://twitter.com/sato_online'},
                        {ele: '<i class="fa fa-github fa-5x" aria-hidden="true"></i>', link: 'https://github.com/st-0403-jp'}
                        ]
                    }
                    contactList.data.forEach(function (list) {
                    %>
                    <li><a href="<%= list.link %>" target="_blank"><%- list.ele %></a></li>
                    <% }); %>
                </ul>
                <!-- <div style="display: inline;position: static;" class="fb-page" data-href="https://www.facebook.com/satoru.tanaka.9480" data-tabs="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div> -->
            </div>
        </div>
    </article>
</section>

<aside>
</aside>

<footer>
  <small>&copy; <span class="js-toYear"></span> SatoruTanaka All rights reserved</small>
</footer>

</div>
<!-- script -->
<script type="text/javascript" src="js/top.js"></script>
<script type="text/javascript" src="js/viewModel.js"></script>
</body>
</html>
