<!DOCTYPE html>
<html lang="ja">
<script>
// ドメイン変更に伴い、前ドメインのアクセスの場合リダイレクト
(function () {
    var host = location.host || location.hostname;
    if (!host) { return; }
    if (host === 'satoru-t-0403.boo.jp') {
        alert('###リダイレクト###\n\n申し訳ありません。\nhttps://satoru-t-0403.boo.jp はただいま機能していないので正しいページをロードします。');
        location.href = 'https://sssatoru-t.info' + '/portfolio';
        return;
    } else {
        return;
    }
})();
</script>
<head>
<meta charset="utf-8">
<meta name="keywords" content="田中暁, Satoru Tanaka, portfolio, HTML, CSS, JavaScript, js, JS, NodeJS, Node, node, GulpJS, gulp, LESS, EJS, Evernote, front end engineer, フロントエンドエンジニア, Web, ラーメン, 車, 葛西, 江戸川区">
<meta name="description" content="Webで豊かな生活を送ろうをテーマに、クリエイターをしています。ラーメンが大好きです。主な職能はフロントエンドエンジニア、Webデザインなどです。詩を書いたり音楽を創るのも気分転換にしています。">
<meta name="author" content="田中暁">
<meta property="og:site_name" content="Portfolio by Satoru Tanaka">
<meta property="og:type" content="website">
<meta property="og:url" content="https://sssatoru-t.info/portfolio/">
<meta property="og:description" content="Webで豊かな生活を送ろうをテーマに、クリエイターをしています。ラーメンが大好きです。主な職能はフロントエンドエンジニア、Webデザインなどです。詩を書いたり音楽を創るのも気分転換にしています。">
<meta property="og:image" content="https://sssatoru-t.info/portfolio/img/me.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script type="text/javascript" src="lib/jquery.min.js"></script><!-- #2.1.0 -->
<script type="text/javascript" src="js/global<%= extJs %>"></script>
<title>田中暁_Portfolio</title>
</head>

<body>
<div id="container">
<header>
    <h1>Portfolio by Satoru Tanaka</h1>
</header>
<main>
    <nav id="h_scroll-nav">
        <ul>
            <li class="current"><h2><a href="#profile" data-nav-id="profile">Profile</a></h2></li>
            <li class=""><h2><a href="#skill" data-nav-id="skill">skill</a></h2></li>
            <li class=""><h2><a href="#output" data-nav-id="output">Output</a></h2></li>
            <li class=""><h2><a href="#contact" data-nav-id="contact">Contact</a></h2></li>
        </ul>
    </nav>
    <section id="contents-wrap">
        <article id="profile">
            <!--
            <span class="paging mb_30">
                <i class="switch-prev fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
                <i class="fa fa-circle point" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="switch-next fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
            </span>
            -->
            <menu label="タブ切り替え" class="tab-change-list">
                <li class="selected" data-tab-id="tab-01">プロフィール</li>
                <li data-tab-id="tab-02">ヒストリー</li>
            </menu>
            <div class="profile_box">
                <%- include('includes/profile/elements.ejs') %>
                <%- include('includes/profile/history.ejs') %>
            </div>
        </article>
        <article id="skill">
            <h3 class="cmn-text_01">よく使う言語、ライブラリ、ツールです。</h3>
            <div class="skill_list">
                <ul>
                    <%
                    skillList.forEach(function (list, index) {
                    %>
                    <li><%= list.skill %>
                        <%
                            if (list.circleWidth) {
                        %>
                        <style>
                        #skill ul li:nth-child(<%= index + 1 %>)::after {
                            width: <%= list.circleWidth %>px;
                        }
                        </style>
                        <% } %>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </article>
        <article id="output">
            <h3 class="cmn-text_01">制作したものを紹介します。</h3>
            <ul>
                <li>
                    <a href="https://sssatoru-t.info/blog/" target="_blank">
                        <h4>さささWeblog</h4>
                        <div class="output-img-wrap">
                            <img src="img/sssweblog.png">
                        </div>
                        <p>ラーメンのブログです。EvernoteAPIを利用しています。</p>
                    </a>
                </li>
            </ul>
        </article>
        <article id="contact">
            <h3 class="cmn-text_01">ご覧いただきありがとうございます。お気軽にフォローやメールしてください。</h3>
            <address>
                <dl>
                    <dt><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></dt>
                    <dd>sato252011@gmail.com</dd>
                </dl>
            </address>
            <ul>
                <%
                var contactList = {
                    data: [
                    {ele: '<i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i>', link: 'https://www.facebook.com/satoru.tanaka.sss'},
                    {ele: '<i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>', link: 'https://twitter.com/sato272015'},
                    {ele: '<i class="fa fa-github fa-5x" aria-hidden="true"></i>', link: 'https://github.com/st-0403-jp'}
                    ]
                }
                contactList.data.forEach(function (list) {
                %>
                <li><a href="<%= list.link %>" target="_blank"><%- list.ele %></a></li>
                <% }); %>
            </ul>
            <!-- <div style="display: inline;position: static;" class="fb-page" data-href="https://www.facebook.com/satoru.tanaka.9480" data-tabs="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div> -->
        </article>
    </section>
</main>
<footer>
    <div class="update">
        <dl>
            <% updateList.forEach(function (dl, i) {
                if (i > 2) {
                    return;
                }
            %>
            <dt><%= dl.dt %></dt>
            <dd><%- dl.dd %></dd>
            <% }); %>
        </dl>
    </div>
    <small id="site-description" style="right: 16px;bottom: 26px;"><a class="link-white hover-underline" href="#">サイト仕様</a></small>
    <small style="right: 16px;bottom: 5px;">&copy; 2016-<%= toYear.year %> SatoruTanaka</small>
</footer>
</div>
<!-- script -->
<script type="text/javascript" src="js/top<%= extJs %>"></script>
<script type="text/javascript" src="js/viewModel<%= extJs %>"></script>
</body>
</html>
