<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="keywords" content="田中暁, Satoru Tanaka, portfolio, HTML, CSS, JavaScript, js, JS, NodeJS, Node, node, GulpJS, gulp, LESS, EJS, front end engineer, フロントエンドエンジニア, Web, ラーメン, 車, 葛西, 江戸川区">
<meta name="description" content="Webで豊かな生活を送ろうをテーマに、クリエイター活動をしています。ラーメンが大好きですw主にWebの技術でフロントエンドエンジニア、Webデザインなどです。詩を書いたり音楽を創るのも気分転換にしています。">
<meta name="author" content="田中暁">
<meta property="og:site_name" content="Portfolio by Satoru Tanaka">
<meta property="og:type" content="website">
<meta property="og:url" content="http://satoru-t-0403.boo.jp/mysite/">
<meta property="og:description" content="Webで豊かな生活を送ろうをテーマに、クリエイター活動をしています。ラーメンが大好きですw主にWebの技術でフロントエンドエンジニア、Webデザインなどです。詩を書いたり音楽を創るのも気分転換にしています。">
<meta property="og:image" content="http://satoru-t-0403.boo.jp/myblog/img/me.jpg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/common.css">
<!-- <script type="text/javascript" src="js/js-static/underscore.js"></script> -->
<!-- <script type="text/javascript" src="js/js-static/jquery-1.11.2.min.js"></script> -->
<!-- <script type="text/javascript" src="bower_components/less/dist/less.js"></script> -->
<script type="text/javascript" src="js/global<%= extJs %>"></script>
<script type="text/javascript" src="js/common.util<%= extJs %>"></script>
<title>Portfolio by Satoru Tanaka</title>
</head>

<body>
<div id="container">
<header>
    <h1>Portfolio by Satoru Tanaka</h1>
</header>
<section id="main-contents">
    <div class="dummy-box_1"></div>

    <nav>
        <ul>
            <li class="current aaa bbb ccc"><a href="#profile" data-nav-id="profile">Profile</a></li>
            <li class=""><a href="#skill" data-nav-id="skill">skill</a></li>
            <li class=""><a href="#output" data-nav-id="output">Output</a></li>
            <li class=""><a href="#contact" data-nav-id="contact">Contact</a></li>
        </ul>
    </nav>

    <div class="dummy-box_1"></div>

    <article>
        <div id="profile">
            <div class="profile_box">
                <%- include('includes/profile/elements.ejs') %>
                <%- include('includes/profile/history.ejs') %>
            </div>
            <span class="paging">
                <i class="switch-prev fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
                <i class="fa fa-circle point" aria-hidden="true"></i>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <i class="switch-next fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
            </span>
            <dl>
                <dt>My Blog</dt>
                <dd><a href="/blog" target="_blank">http://sssatoru-t.info/blog/</a></dd>
            </dl>
            <!--
            <div class="profile_plan-the-year none">
                <h3><span class="js-toYear"></span>年の抱負</h3>
                <ul>
                    <li>
                        <dl>
                            <dt>学び</dt>
                            <dd>様々なプロダクトに関わり、創造活動に必要な知見を蓄えます</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>活動</dt>
                            <dd>知見を蓄えるだけでは身につかないので、アウトプットしていきます</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>貢献</dt>
                            <dd>道を示してくれている会社に恩返しします</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            -->
        </div>
        <div id="skill">
            <div class="skill_list">
                <ul>
                    <%
                    skillList.forEach(function (list, index) {
                    %>
                    <li><%= list.skill %>
                        <%
                            if (list.circleWidth) {
                        %>
                        <style>
                        #skill ul li:nth-child(<%= index + 1 %>)::after {
                            width: <%= list.circleWidth %>px;
                        }
                        </style>
                        <% } %>
                    </li>
                    <% }); %>
                </ul>
                <p>I usual use these skills.</p>
                <p>Always keep trying new things.</p>
            </div>
        </div>
        <div id="output">
            <p>携わったプロダクトや個人で制作したものを紹介します。</p>
            <ul>
                <li>
                    <h3>マルガリータに乾杯を！</h3>
                    <div class="output-img-wrap">
                        <img src="img/margarita.png">
                    </div>
                    <p>映画の公式サイト。会社の受託案件でコーダーとして携わらせていただきました。フロント部分担当。</p>
                </li>
                <li>
                    <h3>読書のお時間です。</h3>
                    <div class="output-img-wrap">
                        <img src="img/margarita.png">
                    </div>
                    <p>電子書籍アプリ。業務委託としてフロントの運用保守・開発をさせていただきました。ブラウザ部分のみ。</p>
                </li>
                <li>
                    <h3>Airレジ</h3>
                    <div class="output-img-wrap">
                        <img src="img/margarita.png">
                    </div>
                    <p>POSレジアプリ。業務委託としてフロントの運用保守・開発をさせていただきました。ブラウザ部分、アカウント関係。</p>
                </li>
            </ul>
        </div>
        <div id="contact">
            <!-- <h2>ご覧いただきありがとうございます。なんでもお気軽にご連絡くださいませ。</h2> -->
            <p class="contact_greeting">Thank you for visiting my site<br>Please feel free to ask and follow me</p>
            <address>
                <dl>
                    <dt><i class="fa fa-home fa-2x" aria-hidden="true"></i></dt>
                    <dd>Tokyo Japan</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></dt>
                    <dd>sato252011@gmail.com</dd>
                </dl>
            </address>
            <ul>
                <%
                var contactList = {
                    data: [
                    {ele: '<i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i>', link: 'https://www.facebook.com/satoru.tanaka.9480'},
                    {ele: '<i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i>', link: 'https://twitter.com/sato272015'},
                    {ele: '<i class="fa fa-github fa-5x" aria-hidden="true"></i>', link: 'https://github.com/st-0403-jp'}
                    ]
                }
                contactList.data.forEach(function (list) {
                %>
                <li><a href="<%= list.link %>" target="_blank"><%- list.ele %></a></li>
                <% }); %>
            </ul>
            <!-- <div style="display: inline;position: static;" class="fb-page" data-href="https://www.facebook.com/satoru.tanaka.9480" data-tabs="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div> -->
        </div>
    </article>
</section>
<footer>
    <div class="update">
        <dl>
            <% updateList.forEach(function (dl, i) {
                if (i > 2) {
                    return;
                }
            %>
            <dt><%= dl.dt %></dt>
            <dd><%- dl.dd %></dd>
            <% }); %>
        </dl>
    </div>
    <small>&copy; <span class="js-toYear"></span> SatoruTanaka All rights reserved</small>
</footer>
</div>
<!-- script -->
<script type="text/javascript" src="js/top<%= extJs %>"></script>
<script type="text/javascript" src="js/viewModel<%= extJs %>"></script>
</body>
</html>
